<header>
    <h1><a href="/">Victor Hugo Faria</a></h1>
    <ul>
        <li><a href="/">Portfolio</a></li>
        <li class="active"><a href="/about">Sobre</a></li>
        <li><a href="/contact">Contato</a></li>
    </ul>

</header>

<section class="about">
    <div class="img">
        <img src="/assets/images/profile.jpg" alt="">
    </div>
    <div class="text">
        <h1>Olá!</h1>
        <p>Meu nome é Victor Hugo Faria. Sou um garoto brasileiro atualmente trabalhando como freelancer, criando/projetando coisas para algumas pessoas e empresas na internet desde 2016.</p>
          <p>Minha graduação é em Design Gráfico, pós graduando em Design Thinking e atualmente cursando Sociologia. O estilo que exploro em meus trabalhos é focado em design autoral e estratégico, mas minha área de pesquisa é guiado por um senso de comunidade e Design Social.</p>
            <p>Sinta-se à vontade para entrar em contato comigo, mesmo que seja apenas para uma conversa fiada, meu trabalho não é apenas projetos e software, mas também uma troca de cultura. Com certeza adorarei saber sobre você.</p>
      </div>
</section>

<section class="testemonials">
    <h1>Depoimentos</h1>
    <ul>
        <li>
            <div class="img"><img src="/assets/images/profile.jpg" alt=""></div>
            <div class="text">
                <h1>Jhon Doe <span>- Art Directo</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem eaque delectus temporibus itaque quibusdam? Possimus neque, enim voluptates tempora, sunt magnam quod aperiam veniam reprehenderit dolor, quo ducimus aliquid inventore!</p>
            </div>
        </li>
        <li>
            <div class="img"><img src="/assets/images/profile.jpg" alt=""></div>
            <div class="text">
                <h1>Jhon Doe <span>- Art Directo</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem eaque delectus temporibus itaque quibusdam? Possimus neque, enim voluptates tempora, sunt magnam quod aperiam veniam reprehenderit dolor, quo ducimus aliquid inventore!</p>
            </div>
        </li>
        <li>
            <div class="img"><img src="/assets/images/profile.jpg" alt=""></div>
            <div class="text">
                <h1>Jhon Doe <span>- Art Directo</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem eaque delectus temporibus itaque quibusdam? Possimus neque, enim voluptates tempora, sunt magnam quod aperiam veniam reprehenderit dolor, quo ducimus aliquid inventore!</p>
            </div>
        </li>
    </ul>
</section>

<section class="resume">
    <span>Para mais detalhes, acesse meu <a href="/">&nbsp;Curriculum</a></span>
</section>

<footer class="dark">
    <span>
        &copy; 2021 - Designed by <b>Victor Hugo</b> &amp; Developed by <a href="http://hudsonnicoletti.com">Hudson Nicoletti</a> .
    </span>
    <ul>
        <li><a href=""><img src="/assets/images/behance.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/reddit.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/dribble.svg" alt=""></a></li>
    </ul>
</footer>
