<header>
    <h1><a href="/">Victor Hugo Faria</a></h1>
    <ul>
        <li class="active"><a href="/">Portfolio</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/contact">Contato</a></li>
    </ul>

    <div class="bar">
        <span>brazillian boy designing things  <i>- brazillian boy designing things -</i> brazillian boy designing things  <i>- brazillian boy designing things -</i> </span>
    </div>
</header>

<section class="portfolio">
    <input type="text" id="filter">
    <ul class="filter">
        <li data-filter="">ALL</li>
        <li data-filter="IDENTITIES">IDENTIDADES</li>
        <li data-filter="LOGO">LOGOS</li>
        <li data-filter="WEB">WEB</li>
        <li data-filter="GRAPHIC">GRÁFICOS</li>
        <li data-filter="MEDIA">MÍDIA</li>
    </ul>
    <div class="items">
      <?php foreach ($items as $item): ?>
      <div class="item">
          <img src="/assets/images/<?php echo $item->image; ?>" alt="">
          <div data-id="<?php echo strtoupper($item->filter); ?>"><?php echo strtoupper($item->filter); ?></div>
          <div class="description">
              <h1><?php echo $item->title_pt; ?></h1>
              <p><?php echo substr(strip_tags($item->text_pt), 0 , 500); ?> ... Continue Lendo</p>
              <a href="/portfolio/<?php echo $item->slug; ?>">+ INFO</a>
          </div>
      </div>
    <?php endforeach; ?>
    </div>
</section>

<footer>
    <span>
        &copy; 2021 - Designed by <b>Victor Hugo</b> &amp; Developed by <a href="http://hudsonnicoletti.com">Hudson Nicoletti</a> .
    </span>
    <ul>
        <li><a href=""><img src="/assets/images/behance.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/reddit.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/dribble.svg" alt=""></a></li>
    </ul>
</footer>
