<header>
    <h1><a href="/">Victor Hugo Faria</a></h1>
    <ul>
      <li class="active"><a href="/admin/logout">Logout</a></li>
      <li><a href="/admin">Back</a></li>
    </ul>

</header>


<section class="contact">
    <form action="/admin/portfolio/update" method="post" accept-charset="UTF-8" class="editor" data-ajaxForm='true'>

      <label> Image (optional):</label>
      <?php echo $form->render("file"); ?>
      <label> Filter:</label>
      <?php echo $form->render("filter"); ?>

      <h2>English Version</h2>
      <hr>
      <?php echo $form->render("title"); ?>
      <?php echo $form->render("text"); ?>
      <?php echo $form->render("slug"); ?>
      <?php echo $form->render("security"); ?>

      <h2>Portuguese Version</h2>
      <?php echo $form->render("title_pt"); ?>
      <?php echo $form->render("text_pt"); ?>
      <button type="submit">Publish </button>

        <div id="response">
          <h1></h1>
        </div>
    </form>
</section>

<footer>
    <span>
        &copy; 2021 - Designed by <b>Victor Hugo</b> &amp; Developed by <a href="http://hudsonnicoletti.com">Hudson Nicoletti</a> .
    </span>
    <ul>
        <li><a href=""><img src="/assets/images/behance.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/reddit.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/dribble.svg" alt=""></a></li>
    </ul>
</footer>
