<header>
    <h1><a href="/">Victor Hugo Faria</a></h1>
    <ul>
        <li class="active"><a href="/admin/logout">Logout</a></li>
        <li><a href="/admin/portfolio/new">New Article</a></li>
    </ul>

</header>


<section class="testemonials">
    <h1>Portfolio Articles</h1>
    <ul>
        <?php foreach ($items as $item): ?>
          <li>
              <div class="img"><img src="/assets/images/<?php echo $item->image; ?>" alt="<?php echo $item->title_en; ?>"></div>
              <div class="text">
                  <h1><?php echo $item->title_en; ?></h1>
                  <p><?php echo substr(strip_tags($item->text_en), 0 , 500); ?> ...</p>
                  <a href="/admin/portfolio/edit/<?php echo $item->slug; ?>">Edit</a>
                  <a href="/admin/portfolio/remove/<?php echo $item->slug; ?>">Delete</a>
              </div>
          </li>
        <?php endforeach; ?>
    </ul>
</section>

<footer>
    <span>
        &copy; 2021 - Designed by <b>Victor Hugo</b> &amp; Developed by <a href="http://hudsonnicoletti.com">Hudson Nicoletti</a> .
    </span>
    <ul>
        <li><a href=""><img src="/assets/images/behance.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/reddit.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/dribble.svg" alt=""></a></li>
    </ul>
</footer>
