<header>
    <h1><a href="/">Victor Hugo Faria</a></h1>
    <ul>
    </ul>

</header>


<section class="contact">
    <form action="/admin/login" method="post" accept-charset="UTF-8">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="password" name="password">
        <?php echo $form->render("security") ?>
        <button type="submit">Login </button>

        <div id="response">

        </div>
    </form>
</section>

<footer>
    <span>
        &copy; 2021 - Designed by <b>Victor Hugo</b> &amp; Developed by <a href="http://hudsonnicoletti.com">Hudson Nicoletti</a> .
    </span>
    <ul>
        <li><a href=""><img src="/assets/images/behance.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/reddit.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/dribble.svg" alt=""></a></li>
    </ul>
</footer>
