<header>
    <h1><a href="/">Victor Hugo Faria</a></h1>
    <ul>
        <li><a href="/">Portfolio</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/contact">Contact</a></li>
    </ul>

</header>


<section class="contact">
    <div class="item">
        <h1><b><u>Feel Free</u></b> to contact me even <br> if it is just to chat, i'll definitely <br> <b><u>love to meet you.</u></b></h1>
        <a href="mailto:hi@victorhugofaria.com">hi@victorhugofaria.com</a>
        <a href="tel:+5504399693852">+55 - 043-99693852</a>
    </div>
    <form action="">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="E-Mail" name="email">
        <textarea name="message" placeholder="message"></textarea>
        <button type="submit">Send </button>
    </form>
</section>

<footer>
    <span>
        &copy; 2021 - Designed by <b>Victor Hugo</b> &amp; Developed by <a href="http://hudsonnicoletti.com">Hudson Nicoletti</a> .
    </span>
    <ul>
        <li><a href=""><img src="/assets/images/behance.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/reddit.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/dribble.svg" alt=""></a></li>
    </ul>
</footer>