<div class="ghost">
  <span class="text">500</span>
  <div class="eye"></div>
  <div class="eye two"></div>
  </div>

  <div class="main">
    <div class="error">error</div>
    <h2>Server Error</h2>
    <h6>Whoops , seems like somthing went wrong on our end. Please come back another time ✨ </h6>
    <h6>Let's chat: <a href="mailto:hi@victorhugofaria.com">hi@victorhugofaria.com</a></h6>
  </div>
