@use 'responsive'

$base-blue: #0b3cff
$base-grey: #545454
$off-white: #f7f7f7

@viewport
    zoom: 1.0
    width: device-width

@keyframes marquee
  from
    transform: translateX(0)
  to
    transform: translateX(-15%)

@font-face
    font-family: "Rubik"
    src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf")

@font-face
    font-family: "Helvetica"
    src: url("../fonts/Helvetica/Helvetica.ttf")

@font-face
    font-family: "Helvetica"
    src: url("../fonts/Helvetica/Helvetica-Bold.ttf")
    font-weight: bold

@font-face
    font-family: "Casual"
    src: url("../fonts/Casual-Regular.ttf")

body
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100vw
    margin: 0
    padding: 0
    overflow-x: hidden
    position: relative

.language_shift
  position: absolute
  top: 0px
  right: 8px

  a
    font-size: 30px
    width: 45px
    height: 45px
    background: rgba($base-blue, 0.0)
    border-radius: 100px
    text-decoration: none

    &:hover
      background: rgba($base-blue, 0.5)

header
    font-family: "Helvetica"
    list-style: none
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
    flex-wrap: wrap
    width: 85vw
    max-width: 1430px
    h1
        a
            text-decoration: none
            font-size: 30px
            line-height: 30px
            color: #000000
            font-weight: 100

            &:hover
              color: $base-blue
              text-decoration: none
    ul
        list-style: none
        display: flex
        justify-content: space-around
        align-items: center
        flex-direction: row
        margin: 0
        padding: 0
        li
            list-style: none
            margin: 0
            padding: 10px 35px
            a
                position: relative
                text-decoration: none
                font-size: 20px
                text-transform: uppercase
                line-height: 30px
                color: #000000

                &:hover
                      text-decoration: none
                      color: $base-blue
            &.active, &:hover
                a:before
                    content: "\2192"
                    font-size: 30px
                    color: $base-blue
                    position: absolute
                    left: -25px
                    font-weight: 100
                    line-height: 28px

    .bar
        width: 100%
        height: 80px
        background-color: $base-blue
        display: flex
        align-items: center
        justify-content: space-between
        overflow: hidden
        flex-wrap: none
        position: relative
        transition: all 0.1s ease-in-out

        &:hover
          span
            animation: marquee 10s linear infinite

        span
            position: absolute
            width: 200%
            transition: all 0.1s ease-in-out
            animation: none 10s linear infinite

        span
            font-family: "Casual"
            font-size: 30px
            color: #fff
            padding: 0 20px

            i
                padding: 0 10px
                font-family: "Casual"
                text-shadow: -1px -1px 0 rgba(255,255,255, 0.5), 1px -1px 0 rgba(255,255,255, 0.5), -1px 1px 0 rgba(255,255,255, 0.5), 1px 1px 0 rgba(255,255,255, 0.5)
                font-size: 30px
                color: $base-blue
                font-style: regular !important


section
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
    flex-wrap: wrap
    width: 85vw
    max-width: 1430px

    &.portfolio
        #filter
            display: none
        ul.filter
            width: 100%
            list-style: none
            padding: 10px 0
            margin: 0
            position: relative
            display: flex
            align-items: center
            justify-content: flex-start
            border-bottom: 2px solid $base-grey
            flex-wrap: wrap

            li
                font-family: "Helvetica"
                font-size: 16px
                color: $base-grey
                position: relative
                transition: all 0.1s ease-in-out
                padding: 10px 10px 0px 10px

                &:nth-child(1)
                    padding-left: 0
                &:nth-child(n+2)
                    &:before
                        content: "/"
                        position: absolute
                        left: -6px
                &:hover, &.active
                    color: $base-blue
                    cursor: pointer

        .items
            width: 100%
            display: flex
            align-items: center
            justify-content: flex-start
            flex-direction: row
            flex-wrap: wrap
            position: relative

            &:before
                position: absolute
                content: "Nothing yet on this category 👻"
                width: 100%
                height: 100%
                display: flex
                align-items: flex-start
                justify-content: flex-start
                color: rgba($base-grey, 0.7)
                font-family: "Helvetica"
                font-weight: 200
                font-size: 30px
                padding: 30px

            .item
                width: calc(50% - 15px)
                margin-top: 30px
                height: 380px
                position: relative
                overflow: hidden
                transition: all 0.1s ease-in-out

                &:nth-child(odd)
                    margin-right: 15px
                &:nth-child(even)
                    margin-left: 15px

                [data-id]
                    display: none

                &.animate__fadeOut
                  position: absolute

                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-align: center

                .description
                    position: absolute
                    display: none
                    opacity: 0.0
                    top: 0
                    left: 0
                    background: rgba($base-blue, 0.84)
                    flex-direction: column
                    align-items: flex-start
                    justify-content: space-between
                    height: 100%
                    width: 100%
                    color: #fff
                    padding: 25px
                    transition: all 0.1s ease-in-out

                    h1
                        font-family: "Helvetica"
                    p
                        font-family: "Helvetica"
                        flex-grow: 1
                    a
                        font-family: "Helvetica"
                        font-size: 20px
                        font-weight: bold
                        color: #fff


                &:hover
                    .description
                        display: flex
                        opacity: 1.0

        .single-item
                width: calc(100%)
                margin-top: 30px
                position: relative

                img.hero
                    width: 100%
                    height: 30vh
                    object-fit: cover
                    object-align: center
                    background-color: rgba($base-grey,0.4)

                .description
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    justify-content: space-between
                    width: calc(100%)
                    padding: 0 25px
                    margin: 0


        ul.nav
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            flex-direction: row
            margin: 0
            padding: 0
            list-style: none

            li
                padding: 20px

                a
                    color: $base-blue
                    font-family: "Helvetica"
                    font-size: 22px
                    position: relative
                    font-weight: 100

    &.also
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: row
        flex-wrap: wrap

        span
            width: 100%
            font-size: 22px
            color: $base-grey
            padding: 10px 0
            border-bottom: 2px solid $base-grey
            font-family: "Helvetica"

        a
            width: calc(33.3% - 30px)
            height: 250px
            margin: 15px
            position: relative
            display: flex
            img
                width: 100%

            &:before
                content: "+"
                width: 100%
                height: 100%
                background: rgba($base-blue, 0.84)
                position: absolute
                top: 0
                left: 0
                color: #fff
                font-size: 36px
                display: flex
                align-items: center
                justify-content: center
                opacity: 0.0
                transition: all 0.1s ease-in-out

            &:hover
                &:before
                    opacity: 1.0

            img
              object-fit: cover
              width: 100%
              height: 250px

    &.about
        display: flex
        align-items: center
        justify-content: center
        flex-direction: row
        margin-top: 60px
        padding: 25px 0px

        .img
            width: calc(25% - 30px)
            position: relative
            display: flex
            align-items: center
            justify-content: center
            padding: 15px
            img
                width: 100%

        .text
            padding: 15px
            width: calc(45% - 30px)
            display: flex
            align-items: flex-start
            justify-content: flex-start
            flex-direction: column

            h1
                color: $base-blue
                font-family: "Helvetica"
                font-size: 28px
                font-weight: bold

            p
                color: rgba($base-grey, 0.7)
                font-family: "Helvetica"
                font-weight: 200
                line-height: 22px

    &.testemonials
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        margin: 0
        background: $off-white
        position: relative
        z-index: 2

        &:before
            content: ""
            position: absolute
            top: 0
            left: -100vw
            width: 300vw
            height: 100%
            background: $off-white
            z-index: -1


        h1
            color: $base-grey
            font-family: "Helvetica"
            font-size: 28px
            font-weight: 100
            width: 70%
            text-align: left

        ul
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            margin: 15px 0
            width: 100%
            list-style: none
            width: 70%

            li
                display: flex
                align-items: center
                justify-content: center
                flex-direction: row
                width: 100%

                .img
                    width: 100px
                    height: 100px
                    overflow: hidden
                    img
                        width: 100px
                        height: 100px
                        object-fit: cover
                        object-position: center

                .text
                    width: calc(100% - 130px)
                    padding: 0 15px

                    h1
                        color: $base-grey
                        font-family: "Helvetica"
                        font-size: 20px
                        font-weight: bold

                        span
                            font-size: 16px
                            font-weight: 100

                    p
                        color: $base-grey
                        font-family: "Helvetica"
                        font-size: 16px
                        font-weight: 100

    &.resume
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        margin: 0
        padding: 35px

        span
            display: flex
            width: 70%
            color: rgba($base-grey, 0.7)
            font-family: "Helvetica"
            font-weight: 200
            line-height: 22px
            font-size: 20px

            a
                text-decoration: none
                color: $base-blue
                display: block


    &.contact
        display: flex
        align-items: center
        justify-content: center
        flex-direction: row
        margin: 0
        padding: 35px
        width: 75vw
        min-height: calc(100vh - 235px)

        .item
            width: 50%
            display: flex
            align-items: flex-start
            justify-content: center
            flex-direction: column
            h1
                color: $base-grey
                font-family: "Helvetica"
                font-weight: 100
                line-height: 36px
                font-size: 34px
                padding: 50px

            a
                color: $base-blue
                font-family: "Helvetica"
                font-weight: 100
                line-height: 24px
                font-size: 24px
                padding: 5px 50px
                text-decoration: none

        form
            width: calc(50% - 100px)
            display: flex
            align-items: flex-end
            justify-content: center
            flex-direction: column
            position: relative
            padding: 50px

            &.editor
              width: 100% !important
              align-items: flex-start

              .note-©
                width: 100% !important
                padding: 10px 5px


            input
                width: 100%
                height: 35px
                color: $base-grey
                font-family: "Helvetica"
                font-weight: 100
                font-size: 16px
                border: 0
                outline: none
                margin: 15px 0
                background: #fffs
                border-bottom: 2px solid $base-grey

            select
                width: 100%
                height: 35px
                color: $base-grey
                font-family: "Helvetica"
                font-weight: 100
                font-size: 16px
                border: 0
                outline: none
                margin: 15px 0
                background: #fffs
                border-bottom: 2px solid $base-grey

            textarea
                width: 100%
                height: 75px
                color: $base-grey
                font-family: "Helvetica"
                font-weight: 100
                font-size: 16px
                border: 0
                outline: none
                margin: 15px 0
                background: #fffs
                border-bottom: 2px solid $base-grey
                resize: none

            button
                padding: 10px 45px
                color: #fff
                font-family: "Helvetica"
                font-weight: 100
                font-size: 16px
                background: $base-grey
                border: 0
                transition: all 0.1s ease-in-out
                cursor: pointer

                &:hover
                    background: rgba($base-grey, 0.5)


footer
    width: 85vw
    display: flex
    align-items: center
    justify-content: space-between
    margin: 10px 0
    padding: 20px 0

    &.dark
        background-color: $off-white
        position: relative
        z-index: 2

        &:before
            content: ""
            position: absolute
            top: 0
            left: -100vw
            width: 300vw
            height: 100%
            background: $off-white
            z-index: -1

    span
        flex-grow: 1
        font-family: "Helvetica"
        color: $base-grey

        a
            text-decoration: none
            font-weight: bold
            color: $base-grey

            &:hover
                color: $base-blue

    ul
        list-style: none
        padding: 0
        margin: 0
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: row

        li
            margin: 0
            padding: 10px 8px

            a
                padding-bottom: 5px
                img
                    height: 18px
                    width: 18px
                &:hover
                    opacity: 0.89
                    border-bottom: 4px solid $base-blue
