@media only screen and (max-width: 767px)
    header
        width: 100vw !important
        flex-direction: column !important
        flex-wrap: initial !important

        .bar
            align-items: flex-start !important
            span
                word-break: break-all !important
                width: 100% !important
                line-height: 29px !important

        ul
            flex-direction: column !important

    section
        width: 100vw !important
        &.portfolio
            .items
                flex-direction: column !important

                .item
                    width: calc(100% - 30px) !important
                    margin-right: 15px !important
                    margin-left: 15px !important

        &.about
            flex-direction: column !important
            .img
                width: 50% !important
            .text
                width: 50% !important


        &.testemonials
            ul
                li
                    flex-direction: column !important
                    .text
                        width: 100% !important

        &.contact
            flex-direction: column !important

            .item
                width: 100% !important

            form
                width: calc(100% - 100px)!important

    footer
        flex-direction: column !important
        justify-content: flex-start !important
        align-items: flex-start !important

@media only screen and (min-width: 767px) and (max-width: 1024px)
    header
        width: 100vw !important
        flex-direction: column !important
        flex-wrap: initial !important

        .bar
            align-items: flex-start !important
            span
                word-break: break-all !important
                width: 100% !important
                line-height: 29px !important