<header>
    <h1><a href="/">Victor Hugo Faria</a></h1>
    <ul>
        <li><a href="/">Portfolio</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

</header>

<section class="about">
    <div class="img">
        <img src="/assets/images/profile.jpg" alt="">
    </div>
    <div class="text">
        <h1>Hello!</h1>
        <p>My name is Victor Hugo Faria, i'm a brazilian boy working as freelancer, designing things for some people and companies on the internet since 2016.</p>
        <p>My Graduations are in Graphic Design, post graduated in Design Thinking and currently studing Sociology.The style i explore in my works are focused on authorial and stratigic, but my researches are guided by a sense of comunity and Social Design.</p>
        <p>Feel free to contact me,even if its just small talk, my work isn't just draws and software, but also a trade of culture, and i'll Definitely love to know about you.</p>
    </div>
</section>

<section class="testemonials">
    <h1>Testemonials</h1>
    <ul>
        <li>
            <div class="img"><img src="/assets/images/profile.jpg" alt=""></div>
            <div class="text">
                <h1>Jhon Doe <span>- Art Directo</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem eaque delectus temporibus itaque quibusdam? Possimus neque, enim voluptates tempora, sunt magnam quod aperiam veniam reprehenderit dolor, quo ducimus aliquid inventore!</p>
            </div>
        </li>
        <li>
            <div class="img"><img src="/assets/images/profile.jpg" alt=""></div>
            <div class="text">
                <h1>Jhon Doe <span>- Art Directo</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem eaque delectus temporibus itaque quibusdam? Possimus neque, enim voluptates tempora, sunt magnam quod aperiam veniam reprehenderit dolor, quo ducimus aliquid inventore!</p>
            </div>
        </li>
        <li>
            <div class="img"><img src="/assets/images/profile.jpg" alt=""></div>
            <div class="text">
                <h1>Jhon Doe <span>- Art Directo</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem eaque delectus temporibus itaque quibusdam? Possimus neque, enim voluptates tempora, sunt magnam quod aperiam veniam reprehenderit dolor, quo ducimus aliquid inventore!</p>
            </div>
        </li>
    </ul>
</section>

<section class="resume">
    <span>For All details, access my <a href="/">&nbsp;Curriculum</a></span>
</section>

<footer class="dark">
    <span>
        &copy; 2021 - Designed by <b>Victor Hugo</b> &amp; Developed by <a href="http://hudsonnicoletti.com">Hudson Nicoletti</a> .
    </span>
    <ul>
        <li><a href=""><img src="/assets/images/behance.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/reddit.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/dribble.svg" alt=""></a></li>
    </ul>
</footer>