﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"    content="width=device-width, initial-scale=1">
  <meta name="description" content="My name is Victor Hugo Faria, i'm a brazilian boy working as freelancer, designing things for some people and companies on the internet since 2016.">
  <meta name="author"      content="Hudson Nicoletti, Victor Hugo">
  <title>Victor Hugo Faria</title>

  <!-- /**
  * @author Hudson Nicoletti <hudsonnicoletti.com>
  * @copyright Copyright (c) 2021, Hudson Nicoletti
  * @version 3.0
  * Designed by Victor Hugo & developed by Hudson Nicoletti.
  **/ -->

  <?php echo $this->assets->outputCss(); ?>
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<!-- /**
  <div class="language_shift">
    <a href="/english" title="Change Language">🇺🇸</a><br>
    <a href="/portuguese" title="Change Language">🇧🇷</a>
  </div>
**/ -->
  <?php echo $this->getContent();?>

  <?php echo $this->assets->outputJs(); ?>

</body>
</html>
