@charset "UTF-8";
@media only screen and (max-width: 767px) {
  header {
    width: 100vw !important;
    flex-direction: column !important;
    flex-wrap: initial !important;
  }
  header .bar {
    align-items: flex-start !important;
  }
  header .bar span {
    word-break: break-all !important;
    width: 100% !important;
    line-height: 29px !important;
  }
  header ul {
    flex-direction: column !important;
  }

  section {
    width: 100vw !important;
  }
  section.portfolio .items {
    flex-direction: column !important;
  }
  section.portfolio .items .item {
    width: calc(100% - 30px) !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  section.about {
    flex-direction: column !important;
  }
  section.about .img {
    width: 50% !important;
  }
  section.about .text {
    width: 50% !important;
  }
  section.testemonials ul li {
    flex-direction: column !important;
  }
  section.testemonials ul li .text {
    width: 100% !important;
  }
  section.contact {
    flex-direction: column !important;
  }
  section.contact .item {
    width: 100% !important;
  }
  section.contact form {
    width: calc(100% - 100px) !important;
  }

  footer {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  header {
    width: 100vw !important;
    flex-direction: column !important;
    flex-wrap: initial !important;
  }
  header .bar {
    align-items: flex-start !important;
  }
  header .bar span {
    word-break: break-all !important;
    width: 100% !important;
    line-height: 29px !important;
  }
}
@viewport {
  zoom: 1;
  width: device-width;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-15%);
  }
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica.ttf");
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Casual";
  src: url("../fonts/Casual-Regular.ttf");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

.language_shift {
  position: absolute;
  top: 0px;
  right: 8px;
}
.language_shift a {
  font-size: 30px;
  width: 45px;
  height: 45px;
  background: rgba(11, 60, 255, 0);
  border-radius: 100px;
  text-decoration: none;
}
.language_shift a:hover {
  background: rgba(11, 60, 255, 0.5);
}

header {
  font-family: "Helvetica";
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85vw;
  max-width: 1430px;
}
header h1 a {
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: 100;
}
header h1 a:hover {
  color: #0b3cff;
  text-decoration: none;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
header ul li {
  list-style: none;
  margin: 0;
  padding: 10px 35px;
}
header ul li a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 30px;
  color: #000000;
}
header ul li a:hover {
  text-decoration: none;
  color: #0b3cff;
}
header ul li.active a:before, header ul li:hover a:before {
  content: "→";
  font-size: 30px;
  color: #0b3cff;
  position: absolute;
  left: -25px;
  font-weight: 100;
  line-height: 28px;
}
header .bar {
  width: 100%;
  height: 80px;
  background-color: #0b3cff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: none;
  position: relative;
  transition: all 0.1s ease-in-out;
}
header .bar:hover span {
  animation: marquee 10s linear infinite;
}
header .bar span {
  position: absolute;
  width: 200%;
  transition: all 0.1s ease-in-out;
  animation: none 10s linear infinite;
}
header .bar span {
  font-family: "Casual";
  font-size: 30px;
  color: #fff;
  padding: 0 20px;
}
header .bar span i {
  padding: 0 10px;
  font-family: "Casual";
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 30px;
  color: #0b3cff;
  font-style: regular !important;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85vw;
  max-width: 1430px;
}
section.portfolio #filter {
  display: none;
}
section.portfolio ul.filter {
  width: 100%;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #545454;
  flex-wrap: wrap;
}
section.portfolio ul.filter li {
  font-family: "Helvetica";
  font-size: 16px;
  color: #545454;
  position: relative;
  transition: all 0.1s ease-in-out;
  padding: 10px 10px 0px 10px;
}
section.portfolio ul.filter li:nth-child(1) {
  padding-left: 0;
}
section.portfolio ul.filter li:nth-child(n+2):before {
  content: "/";
  position: absolute;
  left: -6px;
}
section.portfolio ul.filter li:hover, section.portfolio ul.filter li.active {
  color: #0b3cff;
  cursor: pointer;
}
section.portfolio .items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
section.portfolio .items:before {
  position: absolute;
  content: "Nothing yet on this category 👻";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgba(84, 84, 84, 0.7);
  font-family: "Helvetica";
  font-weight: 200;
  font-size: 30px;
  padding: 30px;
}
section.portfolio .items .item {
  width: calc(50% - 15px);
  margin-top: 30px;
  height: 380px;
  position: relative;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}
section.portfolio .items .item:nth-child(odd) {
  margin-right: 15px;
}
section.portfolio .items .item:nth-child(even) {
  margin-left: 15px;
}
section.portfolio .items .item [data-id] {
  display: none;
}
section.portfolio .items .item.animate__fadeOut {
  position: absolute;
}
section.portfolio .items .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-align: center;
}
section.portfolio .items .item .description {
  position: absolute;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  background: rgba(11, 60, 255, 0.84);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 25px;
  transition: all 0.1s ease-in-out;
}
section.portfolio .items .item .description h1 {
  font-family: "Helvetica";
}
section.portfolio .items .item .description p {
  font-family: "Helvetica";
  flex-grow: 1;
}
section.portfolio .items .item .description a {
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
section.portfolio .items .item:hover .description {
  display: flex;
  opacity: 1;
}
section.portfolio .single-item {
  width: calc(100%);
  margin-top: 30px;
  position: relative;
}
section.portfolio .single-item img.hero {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-align: center;
  background-color: rgba(84, 84, 84, 0.4);
}
section.portfolio .single-item .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(100%);
  padding: 0 25px;
  margin: 0;
}
section.portfolio ul.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}
section.portfolio ul.nav li {
  padding: 20px;
}
section.portfolio ul.nav li a {
  color: #0b3cff;
  font-family: "Helvetica";
  font-size: 22px;
  position: relative;
  font-weight: 100;
}
section.also {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
section.also span {
  width: 100%;
  font-size: 22px;
  color: #545454;
  padding: 10px 0;
  border-bottom: 2px solid #545454;
  font-family: "Helvetica";
}
section.also a {
  width: calc(33.3% - 30px);
  height: 250px;
  margin: 15px;
  position: relative;
  display: flex;
}
section.also a img {
  width: 100%;
}
section.also a:before {
  content: "+";
  width: 100%;
  height: 100%;
  background: rgba(11, 60, 255, 0.84);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
section.also a:hover:before {
  opacity: 1;
}
section.also a img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
section.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 60px;
  padding: 25px 0px;
}
section.about .img {
  width: calc(25% - 30px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
section.about .img img {
  width: 100%;
}
section.about .text {
  padding: 15px;
  width: calc(45% - 30px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
section.about .text h1 {
  color: #0b3cff;
  font-family: "Helvetica";
  font-size: 28px;
  font-weight: bold;
}
section.about .text p {
  color: rgba(84, 84, 84, 0.7);
  font-family: "Helvetica";
  font-weight: 200;
  line-height: 22px;
}
section.testemonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background: #f7f7f7;
  position: relative;
  z-index: 2;
}
section.testemonials:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw;
  width: 300vw;
  height: 100%;
  background: #f7f7f7;
  z-index: -1;
}
section.testemonials h1 {
  color: #545454;
  font-family: "Helvetica";
  font-size: 28px;
  font-weight: 100;
  width: 70%;
  text-align: left;
}
section.testemonials ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px 0;
  width: 100%;
  list-style: none;
  width: 70%;
}
section.testemonials ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
section.testemonials ul li .img {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
section.testemonials ul li .img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
section.testemonials ul li .text {
  width: calc(100% - 130px);
  padding: 0 15px;
}
section.testemonials ul li .text h1 {
  color: #545454;
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: bold;
}
section.testemonials ul li .text h1 span {
  font-size: 16px;
  font-weight: 100;
}
section.testemonials ul li .text p {
  color: #545454;
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: 100;
}
section.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 35px;
}
section.resume span {
  display: flex;
  width: 70%;
  color: rgba(84, 84, 84, 0.7);
  font-family: "Helvetica";
  font-weight: 200;
  line-height: 22px;
  font-size: 20px;
}
section.resume span a {
  text-decoration: none;
  color: #0b3cff;
  display: block;
}
section.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 35px;
  width: 75vw;
  min-height: calc(100vh - 235px);
}
section.contact .item {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
section.contact .item h1 {
  color: #545454;
  font-family: "Helvetica";
  font-weight: 100;
  line-height: 36px;
  font-size: 34px;
  padding: 50px;
}
section.contact .item a {
  color: #0b3cff;
  font-family: "Helvetica";
  font-weight: 100;
  line-height: 24px;
  font-size: 24px;
  padding: 5px 50px;
  text-decoration: none;
}
section.contact form {
  width: calc(50% - 100px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 50px;
}
section.contact form.editor {
  width: 100% !important;
  align-items: flex-start;
}
section.contact form.editor .note-© {
  width: 100% !important;
  padding: 10px 5px;
}
section.contact form input {
  width: 100%;
  height: 35px;
  color: #545454;
  font-family: "Helvetica";
  font-weight: 100;
  font-size: 16px;
  border: 0;
  outline: none;
  margin: 15px 0;
  background: #fffs;
  border-bottom: 2px solid #545454;
}
section.contact form select {
  width: 100%;
  height: 35px;
  color: #545454;
  font-family: "Helvetica";
  font-weight: 100;
  font-size: 16px;
  border: 0;
  outline: none;
  margin: 15px 0;
  background: #fffs;
  border-bottom: 2px solid #545454;
}
section.contact form textarea {
  width: 100%;
  height: 75px;
  color: #545454;
  font-family: "Helvetica";
  font-weight: 100;
  font-size: 16px;
  border: 0;
  outline: none;
  margin: 15px 0;
  background: #fffs;
  border-bottom: 2px solid #545454;
  resize: none;
}
section.contact form button {
  padding: 10px 45px;
  color: #fff;
  font-family: "Helvetica";
  font-weight: 100;
  font-size: 16px;
  background: #545454;
  border: 0;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
section.contact form button:hover {
  background: rgba(84, 84, 84, 0.5);
}

footer {
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px 0;
}
footer.dark {
  background-color: #f7f7f7;
  position: relative;
  z-index: 2;
}
footer.dark:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw;
  width: 300vw;
  height: 100%;
  background: #f7f7f7;
  z-index: -1;
}
footer span {
  flex-grow: 1;
  font-family: "Helvetica";
  color: #545454;
}
footer span a {
  text-decoration: none;
  font-weight: bold;
  color: #545454;
}
footer span a:hover {
  color: #0b3cff;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
footer ul li {
  margin: 0;
  padding: 10px 8px;
}
footer ul li a {
  padding-bottom: 5px;
}
footer ul li a img {
  height: 18px;
  width: 18px;
}
footer ul li a:hover {
  opacity: 0.89;
  border-bottom: 4px solid #0b3cff;
}

/*# sourceMappingURL=main.css.map */
