<header>
    <h1><a href="/">Victor Hugo Faria</a></h1>
    <ul>
        <li class="active"><a href="/">Portfolio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <div class="bar">
        <span>brazillian boy designing things  <i>- brazillian boy designing things -</i> brazillian boy designing things  <i>- brazillian boy designing things -</i> </span>
    </div>
</header>

<section class="portfolio">
    <input type="text" id="filter">
    <ul class="filter">
        <li data-filter="">ALL</li>
        <li data-filter="IDENTITIES">IDENTITIES</li>
        <li data-filter="LOGO">LOGO</li>
        <li data-filter="WEB">WEB</li>
        <li data-filter="GRAPHIC">GRAPHIC</li>
        <li data-filter="MEDIA">MEDIA</li>
    </ul>
    <div class="items">
        <?php foreach ($items as $item): ?>
        <div class="item">
            <img src="/assets/images/<?php echo $item->image; ?>" alt="">
            <div data-id="<?php echo strtoupper($item->filter); ?>"><?php echo strtoupper($item->filter); ?></div>
            <div class="description">
                <h1><?php echo $item->title_en; ?></h1>
                <p><?php echo substr(strip_tags($item->text_en), 0 , 500); ?> ... Continue Reading</p>
                <a href="/portfolio/<?php echo $item->slug; ?>">+ INFO</a>
            </div>
        </div>
      <?php endforeach; ?>
    </div>
</section>

<footer>
    <span>
        &copy; 2021 - Designed by <b>Victor Hugo</b> &amp; Developed by <a href="http://hudsonnicoletti.com">Hudson Nicoletti</a> .
    </span>
    <ul>
        <li><a href=""><img src="/assets/images/behance.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/reddit.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/dribble.svg" alt=""></a></li>
    </ul>
</footer>
