<header>
    <h1><a href="/">Victor Hugo Faria</a></h1>
    <ul>
        <li class="active"><a href="/">Portfolio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <div class="bar">
        <span>brazillian boy designing things  <i>- brazillian boy designing things -</i> brazillian boy designing things  <i>- brazillian boy designing things -</i> </span>
    </div>
</header>

<section class="portfolio">
    <input type="text" id="filter">
    <ul class="filter">
        <li data-filter <?php echo ($item->filter == "IDENTITIES") ? "class='active'" : ""; ?> >IDENTITIES</li>
        <li data-filter <?php echo ($item->filter == "LOGO") ? "class='active'" : ""; ?> >LOGO</li>
        <li data-filter <?php echo ($item->filter == "WEB") ? "class='active'" : ""; ?> >WEB</li>
        <li data-filter <?php echo ($item->filter == "GRAPHIC") ? "class='active'" : ""; ?> >GRAPHIC</li>
        <li data-filter <?php echo ($item->filter == "MEDIA") ? "class='active'" : ""; ?> >MEDIA</li>
    </ul>

        <div class="single-item" data-id="<?php echo $item->filter; ?>">
            <img src="/assets/images/<?php echo $item->image; ?>" alt="<?php echo $item->title_en; ?>" class="hero">
            <div class="description">
                <h1><?php echo $item->title_en; ?></h1>
                <?php echo $item->text_en; ?>
            </div>
        </div>

        <ul class="nav">
            <li><a href="/">Back</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

    </div>
</section>

<section class="also">
    <span>You may aslo like</span>

    <?php foreach ($related as $r): ?>
      <a href="/portfolio/<?php echo $r->slug; ?>"><img src="/assets/images/<?php echo $r->image; ?>" alt="<?php echo $r->title_en; ?>"></a>
    <?php endforeach; ?>

</section>

<footer>
    <span>
        &copy; 2021 - Designed by <b>Victor Hugo</b> &amp; Developed by <a href="http://hudsonnicoletti.com">Hudson Nicoletti</a> .
    </span>
    <ul>
        <li><a href=""><img src="/assets/images/behance.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/reddit.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="/assets/images/dribble.svg" alt=""></a></li>
    </ul>
</footer>
